@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
*{
    font-family: "Source Code Pro", "Courier New";
    text-align: left;
}
::selection{
    background: #adeaea;
}
body{
    background: #ffffff;
}
a{
    border-bottom: 1px dotted;
    color: #0000ff;
    text-decoration: none;
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
}
a:hover{
    border-bottom-color: transparent;
    color: #33a1c9;
}
table{
    width: 50%;
}
table, th, td{
    border: 1px solid #000000;
}
p, th, td{
    padding: 6px;
}
h1{
    color: #ff0000;
    font-size: 24px;
}
th{
    background: #ffe4b5;
}
td{
    background: #ffe1ff;
}
#icon{
    margin: 0 5px;
}
#form{
    background: #c5e3bf;
    border-radius: 5px;
    padding: 8px;
}
#result{
    background: #d1eeee;
    border-radius: 5px;
    padding: 8px;
}
.error{
    color: #ff0000;
    font-weight: bold;
}